<app-cover title="Meeting list" sub1="Dashboard" sub2="Meeting"></app-cover>

@if (loading()) {
<div class="flex items-center justify-center h-full text-2xl text-rose-600">
  Loading...
</div>
} @else {
<div class="mt-4">
  <div class="container mx-auto overflow-hidden rounded-lg shadow-xs">
    <div id="date-range-picker" class="flex items-center justify-end mb-2">
      <div class="relative max-w-sm">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        ></div>
        <input
          id="fromDate"
          type="date"
          [(ngModel)]="fromDate"
          (ngModelChange)="filterByDate()"
          class="border text-gray-50 text-sm rounded-lg block w-full ps-10 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Select date"
        />
      </div>

      <span class="mx-4 text-gray-800 font-bold">to</span>
      <div class="relative max-w-sm">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        ></div>
        <input
          id="toDate"
          type="date"
          [(ngModel)]="toDate"
          (ngModelChange)="filterByDate()"
          class="border text-gray-50 text-sm rounded-lg block w-full ps-10 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Select date"
        />
      </div>
    </div>

    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs md:text-sm lg:text-md font-semibold tracking-wide text-left text-gray-50 uppercase border-b bg-gray-800"
          >
            <th class="px-4 py-3">date</th>
            <th class="px-4 py-3">Subject</th>
            <th class="px-4 py-3">description</th>
            <th class="px-4 py-3">link</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          @if (filterMeeting()) { @for (user of filterMeeting(); track $index) {
          <tr class="bg-gray-700 hover:bg-gray-800 text-gray-50">
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md">
              {{ user?.date | date : "dd/MM/yyyy" }}
            </td>
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md">
              {{ user?.subj }}
            </td>
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md">
              {{ user?.desc }}
            </td>
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md">
              <a
                href="{{ user?.link }}"
                target="_blank"
                class="px-4 py-3 font-semibold leading-tight text-blue-700 bg-blue-100 hover:text-blue-100 hover:bg-blue-700 rounded inline-block cursor-pointer"
                >View</a
              >
            </td>
          </tr>
          } @empty {
          <tr class="bg-gray-700 hover:bg-gray-800 text-gray-50">
            <td class="px-4 py-3 text-lg lg:text-2xl text-rose-500 font-bold">
              No data
            </td>
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md"></td>
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md"></td>
            <td class="px-4 py-3 text-xs md:text-sm lg:text-md"></td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs md:text-sm lg:text-md font-semibold tracking-wide text-gray-50 uppercase border-t bg-gray-800 sm:grid-cols-9"
    ></div>
  </div>
</div>
}
