<app-cover title="Meeting list" sub1="Dashboard" sub2="Meeting"></app-cover>

<div class="container mx-auto flex justify-end mt-2">
  <a
    routerLink="add"
    class="bg-red-500 text-md md:text-xl hover:bg-red-400 text-white font-bold py-1 lg:py-2 px-2 lg:px-4 border-b-4 border-red-700 hover:border-red-500 rounded uppercase"
  >
    Add Meeting
  </a>
</div>

@if (loading()) {
<div class="flex items-center justify-center h-full text-2xl text-rose-600">
  Loading...
</div>
} @else {
<div class="mt-4">
  <div class="container mx-auto overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-50 uppercase border-b bg-gray-800"
          >
            <th class="px-4 py-3 hidden md:inline-block">SL</th>
            <th class="px-4 py-3">date</th>
            <th class="px-4 py-3">Subject</th>
            <th class="px-4 py-3">description</th>
            <th class="px-4 py-3">link</th>
            <th class="px-4 py-3 max-w-18 md:max-w-12 min-w-12">Edit</th>
            <th class="px-4 py-3 max-w-18 md:max-w-12 min-w-12">Delete</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y">
          @if (filterMeeting()) { @for (user of filterMeeting(); track $index) {
          <tr class="bg-gray-700 hover:bg-gray-800 text-gray-50">
            <td class="px-4 py-3 text-xs hidden md:inline-block">
              {{ $index + 1 }}
            </td>
            <td class="px-4 py-3 text-xs">
              {{ user?.date | date : "dd/MM/yyyy" }}
            </td>
            <td class="px-4 py-3 text-xs">{{ user?.subj }}</td>
            <td class="px-4 py-3 text-xs">{{ user?.desc }}</td>
            <td class="px-4 py-3 text-xs">{{ user?.link }}</td>
            <td class="px-4 py-3 text-xs">
              <a
                [routerLink]="['edit', user?.id]"
                class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 hover:text-green-100 hover:bg-green-700 rounded mr-2 inline-block my-2"
              >
                Edit
              </a>
            </td>
            <td class="px-4 py-3 text-xs">
              <button
                class="px-2 py-1 font-semibold leading-tight text-rose-500 bg-rose-100 hover:text-rose-100 hover:bg-rose-500 rounded"
                (click)="onDelete(user?.id)"
              >
                Delete
              </button>
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
    <div
      class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-50 uppercase border-t bg-gray-800 sm:grid-cols-9"
    ></div>
  </div>
</div>
}
